
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kdam+Thmor+Pro&display=swap');
@import 'tailwindcss';



.font-inter {
  font-family: "Inter", sans-serif;
}

.font-inconsolata {
  font-family: "Inconsolata", monospace;
}

.font-kdam-thmor{
  font-family: "Kdam Thmor Pro", sans-serif;
}
.font-instrument-sans {
  font-family: "Instrument Sans", sans-serif;
}
